body {

    background-color: black;
}
div{
    margin-top: 200px;
    margin-bottom:200px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: yellow;
    text-align: center;
    box-shadow: 5px 10px yellowgreen;
}
.img{
     width:100px;
     border-image: round ;
     border-radius: 50%;
}
.img1{
    width:30px;
    border-image: auto;
    border-radius: 30%;
}
a:hover{
    background-color: blue;
  }  

a:active{
    background-color: blue;
  } 

.h1{
    text-transform: uppercase;
}